body {
  font-family: "Inter", sans-serif;
  overflow-y: hidden;
  overflow-x: hidden;
  min-height: 100vh;
}

.unselectable {
  -webkit-user-select: none; /* Safari用 */
  -moz-user-select: none; /* Firefox用 */
  -ms-user-select: none; /* Internet Explorer/Edge用 */
  user-select: none; /* 標準の構文 */
}

.listItemContent {
  display: flex;
  justify-content: space-between; /* 左右に要素を分散 */
  width: 100%; /* コンテナの幅を最大に */
}

.actionName {
  text-align: right; /* 右詰め */
}

.targetName {
  text-align: left; /* 左詰め */
}

.css-10hburv-MuiTypography-root {
  font-weight: 500 !important;
}

:root {
  --primary-main: rgba(120, 100, 255, 0.3);
  --primary-dark: rgba(120, 100, 255, 0.5); /* 濃い色を少し調整 */
}

/* スクロールバーのスタイル適用 */
::-webkit-scrollbar {
  width: 10px !important;
  height: 10px !important;
}

::-webkit-scrollbar-track {
  background: #f1f1f1 !important;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-main) !important;
  border-radius: 5px !important;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-dark) !important;
}
